body{
  background-image: url(../IMAGE/map.jpeg);
  background-size: cover;
  position: relative;
}

a{
  text-decoration: none;
  color: #fff;
}

.topbar_wrapper{
  position: fixed;
  height: auto;
  max-width: 100%;

}

.topbar{
  position: relative;
  padding: 10px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1680px;
  justify-content: space-between;

}

.center_top_wrapper{
  height: 28px;
}

.center_top_wrapper li{
  float: right;
  margin: 5px 10px 0 50px;
  font-size: 16px;
  font-weight: 900;
}

.center_top_wrapper .special{
  margin-left: 0px;
}


.right_top_Wrapper li{
  float: right;
  margin: 0 10px;
} 

.right_top_Wrapper .inside{
  margin-top: 10px;
}



